h1 Dashboard

p Hier können verschiedene Statistiken über alle aktuellen Aufträge, Fahrer und Touren eingesehen werden

h3 Kapazitätsverteilung in der Flotte
= pie_chart Driver.group(:max_capacity).count
